body {
  margin: 0;
  background-color: var(--sol-base02);
}

/* TODO: New font for buttons: something more bold? */
.button {
  width: 5rem;
  height: 2rem;
  color: var(--sol-base03);
  border-style: none;
  border-radius: 4px;
  filter: brightness(80%);
  transition: 150ms;

  &:hover {
    filter: brightness(100%);
  }

  &:active {
    background-color: var(--sol-base00) !important;
  }
}
