body {
  margin: 0;
  background-color: var(--sol-base02);
}

p,
legend {
  font-family: "Inter";
}

p {
  font-size: var(--h3-and-p-font-size);
  color: var(--sol-base0);
  font-weight: 300; /* Light */
}

legend {
  font-size: var(--h2-font-size);
  color: var(--sol-base1);
}

fieldset {
  border-color: var(--sol-base01);
}

hr {
  border-color: var(--sol-base01);
}

/* TODO: New font for buttons: something more bold? */
.button {
  --button-default-width: 5rem;
  --button-default-height: 2rem;

  min-width: var(--button-default-width);
  min-height: var(--button-default-height);
  color: var(--sol-base03);
  border-style: none;
  border-radius: var(--border-radius);
  filter: var(--inactive-button-brightness);
  transition: 150ms;

  &:hover {
    filter: var(--active-button-brightness);
  }

  &:active {
    background-color: var(--sol-base00) !important;
  }
}

.icon-texture {
  --icon-texture-size: 32px;

  width: var(--icon-texture-size);
  height: var(--icon-texture-size);
  image-rendering: pixelated;
}

.invisible {
  display: none !important;
}
