:root {
  --sol-base03: #002b36;
  --sol-base02: #073642;
  --sol-base01: #586e75;
  --sol-base00: #657b83;
  --sol-base0: #839496;
  --sol-base1: #93a1a1;
  --sol-yellow: #b58900;
  --sol-orange: #cb4b16;
  --sol-red: #dc322f;
  --sol-magenta: #d33682;
  --sol-violet: #6c71c4;
  --sol-blue: #268bd2;
  --sol-cyan: #2aa198;
  --sol-green: #859900;

  --font-size-base: 18px;
  --font-size-mod: 1.333;

  --h4-font-size: calc(var(--font-size-base) / var(--font-size-mod));
  --h3-and-p-font-size: var(--font-size-base);
  --h2-font-size: calc(var(--h3-and-p-font-size) * var(--font-size-mod));
  --h1-font-size: calc(var(--h2-font-size) * var(--font-size-mod));

  --border-radius: 4px;
}
